.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
}

.header-content {
  margin-bottom: 20px;
}

.company-name {
  font-size: 80px;
  font-weight: bold;
  color: #5e2f9e; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.video-section {
  width: 100%;
}

.logo {
  position: fixed;
  top: 40px;
  right: 40px;
  margin-right: 10px;
  width: 90px; 
  height: 60px; 
  }


.logo img {
  max-width: 150px;
  height: auto;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 15px;
}

.menu li a {
  text-decoration: none;
  color: #01bcf0;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  background-color: #5e2f9e;
}

.menu li:last-child {
  margin-right: 0;
}

.dropdown-content.show {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-toggle::after {
  content: "\25BE";
  margin-left: 5px;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #363b41;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px;
  }

  .menu li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .menu li:last-child {
    margin-right: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.container.calendar-section {
  background-color: #ecd8f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar_header {
  padding: 20px;
  background-color: #5e2f9e;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.calendar_header .header_title {
  font-size: 24px;
  font-weight: bold;
}

.calendar_plan {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.calendar_events {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.calendar_events .ce_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.digital-clocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.digital-clock {
  text-align: center;
  margin: 0 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}


.calendar.light .event_item {
  margin: 0px ;
  padding: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f1f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar.light .ei_Dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5851;
  margin-right: 10px;
}



